{% extends "base.html" %}
{% block 'title' %} Profile {% endblock %}
{% block 'content' %}
<style>
    .flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card{
        width: 100%;
        height: 150px;
        border: 2px solid #000;
        border-radius: 20px;
        padding: 30px;
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 40px;
    }
    table {
        margin-top: 100px;
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<section style="margin-top: 50px;">
    <div class="flex">
        <img src="" alt="">
        <h1></h1>
    </div>
    <div class="flex">
        <div class="card flex" style="margin-right: 20px; background-color: #0010ff1a; border-color: #3f81ffe3;" >
            <div class="flex">
                <h1 style="color: #3f81ffe3; margin-right: 10px;">Orders:</h1>
                <h2 style="color: #3f81ffe3;">{{ orders_count }}</h2>
            </div>
        </div>
        <div class="card flex" style="margin-right: 20px; background-color: #6aff4136; border-color: #48b000">
            <div class="flex">
                <h1 style="margin-right: 20px; color: #48b000;">Spent:</h1>
                <h2 style="color: #48b000;">{{ spent }}$</h2>
                
            </div>
        </div>
    </div>
    <table>
        <tr>
            <th>Order ID</th>
            <th>Product</th>
            <th>Price</th>
        </tr>
        {% for order in orders %}
        <tr>
            <th>#{{order.id}}</th>
            <th>{{order.product.name}}</th>
            <th>{{order.product.price}}$</th>
        </tr>
        {% endfor %}
    </table>
</section>
{% endblock %}