{% extends "base.html" %}

{% block 'content' %}
<section>
    <div class="w-full h-40 rounded-md border border-gray-300 p-5 flex items-end justify-between">
        <div class="flex items-start space-between">
            <img src="{{product.image.url}}" class="h-32">
            <div class="block">
                <h2 class="text-black font-bold text-2xl">{{product.name}}</h2>
                <h5 class="text-gray-500">{{product.details}}</h5>
            </div>
        </div>
        <div class="h-full flex flex-col justify-between">
            <div class="flex">
                <label for="name" class="font-bold mr-2 p-2">Count :</label>
                <input required="true" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-20 p-2 " type="number" name="count">
            </div>
            <div class="flex justify-between">
                <p class="font-bold mr-2">Price :</p>
                <p >{{product.price}}</p>
            </div>
        </div>
    </div>
    <form class="mt-6 bg-gray-100 w-full rounded-md px-8 py-4" method="POST">
        {% csrf_token %}
        <div class="mb-4 md:flex md:justify-between sm:block">
            <div>
                <p class="font-bold">User Information</p>
                <div class="flex mt-2">
                    <p class="mr-2">Full Name :</p>
                    <p class="text-gray-600">{{user.first_name}} {{user.last_name}}</p>
                </div>
                <div class="flex mt-2">
                    <p class="mr-2">Address : </p>
                    <p class="text-gray-600"> {{user.address}}</p>
                </div>
                <div class="flex mt-2">
                    <p class="mr-2">Phone Number :</p>
                    <p class="text-gray-600"> {{user.phone_number}}</p>
                </div>
            </div>
            <div>
                <p class="font-bold">Order details</p>
                <div class="flex mt-2 justify-between">
                    <p>{{product.name}}</p>
                    <p class="text-gray-600">{{product.price}}</p>
                </div>
        <!----- <div class="flex mt-2 justify-between">
                    <p class="font-bold">Total :</p>
                    <p class="font-bold">+</p>
                    <p>333$</p>
                </div> ---->
            </div>
        </div>
        <button class="mt-2 text-center text-blue-700 hover:underline" type="submit">Submit your order</a>
    </form>
</section>
{% endblock %}