{% extends "base.html" %}
{% load static %}
{% block 'content' %}
<section class="created-section">
    <img src="{% static '/img/pngtree-true-sign-png-png-image_1589429-removebg-preview.png' %}">
    <h1 class="success-txt">Order created successfully</h1>
</section>
<style>
    .created-section{
        width: 100%; 
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .success-txt{
        font-weight: bold;
        color: #11700a;
    }
</style>
{% endblock %}