{% extends "base.html" %}

{% block 'content' %}
<div class="flex" style="margin: 110px 20px 30px 25px ;">
    <section class="shopping-card">
        {% for order in data %}
        <div id="{{order.product.id}}" class="item-card flex" style="justify-content: space-between;">
            <div class="flex">
                <img class="p-image" src="{{ order.product.image.url }}" alt="">
                <div>
                    <h4 class="p-name">{{ order.product.name }}</h5>
                    <input min="0" class="counter" type="number"  name="count" id="{{order.product.id}}" value="{{ order.count }}" id="{{order.id}}">
                </div>
            </div>
            <i class='bx bxs-trash-alt' onclick="deleteProduct('{{order.product.id}}')" style="color: red; margin-right: 20px; font-size: 20px; cursor: pointer;"></i>
        </div>
        {% endfor %}
    </section>
    <section class="form">
        <div>
            <label for="name">Adress</label>
            <input type="text" name="adress">
        </div>
        <div>
            <label for="name">Phone Number</label>
            <input type="tel" name="phoneNumber">
        </div>
        <button onclick="submit()" class="btn">Submit</button>
    </section>
    <script>
        function deleteProduct(id){
            const  product = document.getElementById(id)
            console.log(product)
        }
    </script>
    <script>
        const inputs = document.getElementsByName('count')
        let data = {
            data:[],
            adress: document.getElementsByName('adress')[0].value,
            phoneNumber: document.getElementsByName('phoneNumber')[0].value
        };
        inputs.forEach((item) => {
            data.data.push({
                id: parseInt(item.id),
                count: parseInt(item.count)
            })
        })
        $.post(
            document.URL.replace('card', 'create-order'),
            JSON.stringify(data),
            (response) => console.log(response)
            )
    </script>
</div>
<style>

.btn{
    background-color: #22ff1b;
    width: 90px;
    height: 35px;
    border: none;
    cursor: pointer;
}

.flex{
	display: flex;
    justify-content: center;
    align-items: center;
}
.p-name {
    margin-bottom: 5px;
}
.item-card{
    border: #121212 solid 0.5px;
    margin-bottom: 5px;
    justify-content: start;
}

input{
    font-size: 15px;
}

.counter{
    width: 50px;
    height: 30px;
    padding: 3px;
}

.shopping-card{
	width: 75vw;
	border: #bdbdbd solid 1px;	
}

.p-image{
	width: 100px;
	height: 100px;
}

.form{
	display: block;
}
</style>
{% endblock %}