{% extends "base.html" %}

{% block 'content' %}
<form style="margin: 120px;" method="POST" class="form">
    {% csrf_token %}
    <div class="item-card flex">
        <img src="{{product.image.url}}" class="p-image">
        <div>
            <h4 class="p-name">{{product.name}}</h4>
            <h5>{{product.price}}</h5>
        </div>
        
    </div>
    <div class="flex" style="margin-top: 30px;">
        <div>
            <label for="name">Adress</label>
            <input type="text" name="adress">
        </div>
        <div>
            <label for="name">Phone Number</label>
            <input type="tel" name="phone_number">
        </div>
    </div>
    <button type="submit" class="btn" style="margin-top: 30px;">Submit</button>
</form>
<style>

.btn{
    background-color: #22ff1b;
    width: 90px;
    height: 35px;
    border: none;
    cursor: pointer;
}

.flex{
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.p-name {
    margin-bottom: 5px;
}
.item-card{
    border: #121212 solid 0.5px;
    margin-bottom: 5px;
    justify-content: start;
}

input{
    font-size: 15px;
}

.counter{
    width: 50px;
    height: 30px;
    padding: 3px;
}

.shopping-card{
	width: 75vw;
	border: #bdbdbd solid 1px;	
}

.p-image{
	width: 100px;
	height: 100px;
}

.form{
	display: block;
}
</style>
{% endblock %}