{% extends "base.html" %}
{% block 'content' %}
<section class="shop" id="shop">
    <div class="container">
        {% for product in products %}
        <div class="box">
            <img src="{{product.image.url}}">
            <h4>{{ product.name }}</h4>
            <h5>{{ product.price }}</h5>
            <div class="cart">
                <a style="cursor: pointer;" href="/create-order/{{product.id}}"  href="#" ><i class='bx bx-cart' ></i></button>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}