{% extends "base.html" %}

{% block 'content' %}
<section class="shop" id="shop">
    <div class="container">
        {% for product in products %}
        <div class="box">
            <img src="{{product.image.url}}">
            <h4>{{ product.name }}</h4>
            <h5>{{ product.price }}</h5>
            <div class="cart">
                <button style="cursor: pointer;" onclick="addProduct('{{product.id}}')"  href="#" ><i class='bx bx-cart' ></i></button>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<script>
    function addProduct(id) {
        let splittedCookie = document.cookie.split(';')
        data = splittedCookie[2].split('=') 
        document.cookie = splittedCookie[0] + ';' + splittedCookie[1]
        console.log(document.cookie)
        if (data[1] === 'none') {
            data[1] = `${id}:1`
            console.log(data)
        } else {
            let neededData = data[1].split(':')
            console.log(neededData)
            neededData.map((item, index) => {
                console.log(`${items} ==> item`)
                console.log(`${index} ==> index`)
            })
        }
        console.log(document.cookie)
        document.cookie = `${document.cookie}; ${data[0]}=${data[1]}`
        console.log(document.cookie)
    }
</script>
{% endblock %}