{% extends "seller-profile.html" %}

{% block 'profile-content' %}
<table class="mt-10 w-full text-sm text-center text-gray-500">
    <thead class="text-xl font-bold text-gray-700 uppercase bg-gray-50">
        <tr>
            <th scope="col" class="text-sm px-6 py-3">Product ID</th>
            <th scope="col" class="text-sm px-6 py-3">Image</th>
            <th scope="col" class="text-sm px-6 py-3">Name</th>
            <th scope="col" class="text-sm px-6 py-3">Price</th>
            <th scope="col" class="text-sm px-6 py-3">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr class="bg-white border-b hover:bg-gray-50">
            <th class="text-sm text-center">#{{product.id}}</th>
            <th class="text-sm text-center"><img src="{{product.image.url}}"></th>
            <th class="text-sm text-center">{{product.name}}</th>
            <th class="text-sm text-center">{{order.product.price}}$</th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
